*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content:center;
    align-items: center;
}
.card{
    height: 450px;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card div{
    position: relative;
}
.card img{
    height: 300px;
    width: 300px;
   
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    
}
.card h2{
    margin-top: 20px;
    font-size: 30px;
}
.card i{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
      background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
        background-size: cover;
   background-clip: text; 
  /* -webkit-background-clip: text; */
 color: transparent; 
    transform: translate(-50%,-50%) scale(0) rotate(60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}