@font-face {
    font-family: "eagle";
    src: url(./beautiful-people-font/BeautifulPeoplePersonalUse-dE0g.ttf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
   height: 100%;
   width: 100%;
   
}
#box{
   height: 100%;
   width: 100%;
    background-image: url(https://images.unsplash.com/photo-1602777924012-f8664ffeed27?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=764);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 300px ;
    

}
h1{
    color: white;
    font-family: eagle;
    font-size: 50px;
    font-weight: 200px;
    
}
button{
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: eagle;
}
button:hover{
    background-color:cadetblue;
    color: black;
}