*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   color:#fff;

}
html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.cursor{
    height: 20px;
    width: 20px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h2{
    font-size: 9vw;
    font-weight: 900;
}