@font-face {
    font-family: "beauty";
    src: url(./beautiful-people-font/BeautifulPeoplePersonalUse-dE0g.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    
    /* width: 100vw; */
     margin-bottom: 30px;

}
#box1{
    height: 300px;
    background-color: #1A2436;
   
}
h1{
    color: white;
    text-align: center;
    padding-top: 80px;
    /* padding-bottom: 20px; */
    font-size: 70px;
    font-family: beauty;
    font-weight: 400;
   
}
#para1{
    color: white;
    text-align: center;
    font-size: 30px;
    
}
#box2{
   height: 150px;
    background-color: wheat;
     margin: 0 70px 30px; 
    
}
h2{
    text-align: center;
    font-size: 30px;
    padding: 30px 0px 20px; 
    
}
.para2{
    
       text-align: center;
}
#box3{
        height: 150px;
        background-color: coral;
         margin: 0 70px 30px; 

} 
#box4{
    height: 200px;
    background-color:skyblue;
     margin: 0 70px 30px; 
}
.div1{
    height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
    margin-bottom: 10px;
    
}
#p1{
    text-align: center;
    padding: 5px;
      font-style: italic;
    
}
.div2{
      height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p2{
    text-align: center;
    padding: 5px;
      font-style: italic;
}
#box5{
     height: 270px;
    background-color:darkkhaki;
     margin: 0 70px 30px; 
}
.div3{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p3{
     text-align: center;
    padding: 5px;
    font-style: italic;
}
.div4{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p4{
     text-align: center;
    padding: 5px; 
      font-style: italic;
}
#box6{
       height: 200px;
       
    background-color:pink;
     margin: 0 70px 30px; 
}
.div5{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p5{
     text-align: center;
    padding: 5px; 
    font-weight: bold;
}
.div6{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p6{
     text-align: center;
    padding: 5px; 
    font-weight: bold;
}
#box7{
     height: 200px;
    background-color:mediumaquamarine;
     margin: 0 70px 30px; 
}
.div7{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p7{
     text-align: center;
    padding: 5px; 

}
.div8{
     height: 35px;
    width: 500px;
    background-color: white;
    /* padding-left: 200px; */
    margin-left: 450px;
     margin-bottom: 10px;
}
#p8{
     text-align: center;
    padding: 5px; 

}