*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}
.outer{
    height: 30px;
    width: 100%;
    background-color: rgb(148, 143, 143);
    border-radius: 20px;
   
    
}
.inner{
    height: 30px;
    width: 0%;
    background-color: green;
    border-radius: 20px;
}
.other{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    
}
button{
    padding:15px 20px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    
}
button:active{
    scale: 0.9;
}
.card p{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  
  border: none;
  font-weight: 500;
}
.card p span{
  font-weight: 600;
  color: royalblue;
}