@font-face {
    font-family: "iphone";
    src: url(./sf-pro-display_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iphone;
}
html,body{
    height: 100%;
    width: 100%;

}
#nav{
    height: 60px;
    width: 100%; 
    background-color: rgb(43, 41, 41);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#nav h4{
    color: white;
    font-weight: 300;
}
#center{
    height:80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
}
#center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
#center h5{
    color: white;
    font-size: 35px;
    font-weight: 300;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 20px;
}
#links button{
    background-color: royalblue;
    font-size: 20px;
    color: white;
    padding: 15px 24px;
    border-radius: 50px;
    border: none;
    font-weight: 500;

}