body{
    height: 100%;
    width: 100%;
    background-color: #111;
      display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;
    margin-top: 300px;
}
button{
    padding: 15px 20px;
    border-radius: 10px;
    background-color: crimson;

    font-size: 20px;
    z-index: 9;
  

}
button:active{
   scale: 0.95;
}