@font-face {
    font-family: "helvetica";
    src: url(./helvetica-similar-fonts/freesans/FreeSans.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: #111; */
    color:#111;
}
#nav{
    padding: 30px 70px;
}
#nav a{
    color: #111;
    font-size: 25px;
    text-decoration: none;
    margin-right: 30px;
}
#main>h1{
    font-size: 300px;
    font-weight: 400;
    padding-left: 70px;}

#bottomleft{
    width: 300px;
    position: absolute;
    bottom:7%;
    left:5%;
   
}
#bottomleft h3{
    margin-bottom: 5px;
}
#bottomleft p{
    
    margin-bottom: 50px;
}
#bottomleft h4{
    margin-bottom: 5px;
}
#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:absolute;
    bottom: 0%;
    left:0%;
    
    padding:30px 70px;
}
#bottombar a{
    color:#111;
    text-decoration: none;
    /* position: absolute; */
    font-size: 32px;
    /* right: 5%; */
}
#main>img{
    height: 300px;
    position: absolute;
    

}
#main #first{
    height: 400px;
    top: 40%;
    left: 60%;
}
#main #second{
    height: 300px;
    top:60%;
    left: 50%;
}
#main #third{
    height: 200px;
    top: 50%;
    left: 45%;
}