*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
      background-color:rgba(155, 190, 206, 0.877);

}
.parent{
    height: 100%;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    gap: 20px;;
   
   
}

#card{
    height: 450px;
    width: 400px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;

    
}
#card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#card h1{
    font-weight: 600;
}
#card p{
    font-size: 18px;
    color:rgb(61, 58, 58);
    text-align: center;
}
#card button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(59, 130, 246);
    color: white;
    border: none;
    border-radius: 20px;
   
}
#card button:hover{
    background-color:red;
     cursor: pointer;
     border-radius: 2px;

}