*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;   
    width: 100%;
    background-color: black;
}

#parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;


}
#parent::-webkit-scrollbar{
    display: none;
}

.child{
    height: 100%;
    width: 250px;
    /* background-image: url(https://images.unsplash.com/photo-1761838816945-021a4ebd67bc?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-size: cover; */
    border-radius: 10px;
    flex-shrink: 0;
    
  
    
}
.child img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
}
h1{
    color: transparent;
    font-size: 200px;
    background-image: url(https://media1.tenor.com/m/agFP33l54LEAAAAC/sziv%C3%A1rv%C3%A1ny-h%C3%A1tt%C3%A9r-rainbow-background.gif);
    background-clip: text;
    background-size: cover;
    
    
}
