
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
   /* gap: 30px; */
   anchor-name: --some-anchor;
}

.box{
    height: 200px;
    width: 200px;
  
    
}
.red{
    background-color: rgb(119, 15, 15);
    
}
.blue{
    background-color: rgba(0, 0, 255, 0.637);

}
.green{
    background-color: rgb(22, 124, 22);

}
.anchor{
    /* height: 50px;
    width: 60px; */
    border-radius: 10px;
    background-color: whitesmoke;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom) ;
    right: anchor(right);
    pointer-events: none;
 position-anchor: --some-anchor;
 transition:  all 0.3s linear;
 mix-blend-mode: difference;
}
.box:hover{
   anchor-name: --some-anchor;
}