*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   color:#fff;

}
html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
}
.ele{
    border: 2px solid white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: center; */
    position:relative;
}
.ele h2{
    font-size: 3vw;
    /* position: relative; */
    z-index: 9;
    mix-blend-mode: difference;
}
.ele img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position:absolute;
    transition: all linear 0.3s;

}